@import '@constants/styles/theme.module';

.cmp-modal {
  align-items: center;
  animation: fade-out 0.25s linear;
  background-color: rgb(0 0 0 / 25%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: $base-dimension * 2;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(-9999px, -9999px);
  transition: z-index 0s 0.25s, visibility 0s 0.25s, transform 0s 0.25s;
  visibility: hidden;
  z-index: -1;

  &.open {
    animation: fade-in 0.25s linear;
    transform: translate(0, 0);
    transition: z-index 0s 0s, visibility 0s 0s, transform 0s 0s;
    visibility: visible;
    z-index: 10000;
  }

  &.confirm {
    .cmp-modal-item {
      width: $base-dimension * 60;
    }
  }

  .cmp-modal-item {
    background-color: white;
    border-radius: $base-dimension * 0.375;
    height: auto;
    width: $base-dimension * 68;

    .header {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: $base-dimension * 2 $base-dimension * 7 $base-dimension * 2 $base-dimension * 2.5;
      position: relative;

      h3 {
        color: $primary-text-color;
        font-size: $base-dimension * 2;
        font-weight: 500;
        line-height: 1.5;
      }

      .icon-button {
        min-height: $base-dimension * 4.25;
        min-width: $base-dimension * 4.25;
        padding: $base-dimension * 0.5;
        position: absolute;
        right: $base-dimension * 1.375;
        top: $base-dimension * 1.375;

        .icon {
          min-height: $base-dimension * 3.25;
          min-width: $base-dimension * 3.25;

          svg {
            color: $secondary-dark-text-color;
            max-width: $base-dimension * 3.25;
            transition: color 0.25s ease-in-out;
          }
        }

        &:hover {
          .icon {
            svg {
              color: $secondary-text-color;
            }
          }
        }
      }
    }

    .body {
      color: $primary-text-color;
      font-size: $base-dimension * 1.625;
      font-weight: 400;
      line-height: 1.5;
      padding: $base-dimension * 2 $base-dimension * 2.5;

      p {
        margin-bottom: $base-dimension;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: $base-dimension * 2;
      justify-content: flex-end;
      padding: $base-dimension * 2 $base-dimension * 3;

      .btn {
        font-size: $base-dimension * 1.75;
        line-height: 1.5;
        min-height: $base-dimension * 4;
        min-width: $base-dimension * 4;
        padding: $base-dimension * 0.5 $base-dimension * 2;

        .gap {
          display: none;
        }
      }
    }
  }
}
