@import '@constants/styles/theme.module';

.cmp-modal {
  align-items: center;
  animation: fade-out 0.25s linear;
  background-color: rgb(0 0 0 / 25%);
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  padding: $base-dimension * 2;
  position: fixed;
  right: 0;
  top: 0;
  transform: translate(-9999px, -9999px);
  transition: z-index 0s 0.25s, visibility 0s 0.25s, transform 0s 0.25s;
  visibility: hidden;
  z-index: -1;

  &.open {
    animation: fade-in 0.25s linear;
    transform: translate(0, 0);
    transition: z-index 0s 0s, visibility 0s 0s, transform 0s 0s;
    visibility: visible;
    z-index: 10000;
  }

  &.confirm {
    .cmp-modal-item {
      width: 480px;
    }
  }

  .cmp-modal-item {
    background-color: white;
    border-radius: 3px;
    height: auto;
    width: 540px;

    .header {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      padding: 16px 56px 16px 20px;
      position: relative;

      h3 {
        color: $primary-text-color;
        font-size: $base-dimension * 2;
        font-weight: 500;
        line-height: 1.5;
      }

      .icon-button {
        min-height: 34px;
        min-width: 34px;
        padding: 4px;
        position: absolute;
        right: 11px;
        top: 11px;

        .icon {
          min-height: 26px;
          min-width: 26px;

          svg {
            color: $secondary-dark-text-color;
            max-width: $base-dimension * 3.25;
            transition: color 0.25s ease-in-out;
          }
        }

        &:hover {
          .icon {
            svg {
              color: $secondary-text-color;
            }
          }
        }
      }
    }

    .body {
      color: $primary-text-color;
      font-size: $base-dimension * 1.625;
      font-weight: 400;
      line-height: 1.5;
      padding: 16px 20px;

      p {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .footer {
      align-items: center;
      display: flex;
      flex-direction: row;
      gap: 16px;
      justify-content: flex-end;
      padding: 16px 24px;

      .btn {
        font-size: 14px;
        line-height: 1.5;
        min-height: 32px;
        min-width: 32px;
        padding: 4px 16px;
      }
    }
  }
}
