@import '@constants/styles/theme.module';

.cmp-alert-tip {
  animation: fade-in 0.375s linear;
  background-color: $info-color;
  border: $base-dimension * 0.125 solid $info-middle-color;
  border-radius: $base-dimension * 0.5;
  min-height: $base-dimension * 5;
  padding: $base-dimension $base-dimension * 5;
  position: relative;
  width: $base-dimension * 30;

  .icon {
    color: $info-icon-color;
    display: inline-block;
    left: $base-dimension;
    position: absolute;
    top: $base-dimension;
  }

  .cmp-alert {
    color: $info-text-color;
    display: inline-block;
    font-size: $base-dimension * 1.625;
    line-height: 1.5;
    word-break: break-word;
  }

  .cmp-close {
    background-color: $info-middle-color;
    border: $base-dimension * 0.125 solid $info-dark-color;
    border-radius: $base-dimension * 0.5;
    box-shadow: 0 0 0 $info-dark-color;
    cursor: pointer;
    display: inline-block;
    height: $base-dimension * 3;
    position: absolute;
    right: $base-dimension;
    top: $base-dimension;
    transition: box-shadow 0.375s ease-in-out, border-color 0.375s ease-in-out;
    user-select: none;
    width: $base-dimension * 3;

    &:hover {
      border-color: $info-icon-color;
      box-shadow: 0 0 $base-dimension * 0.25 $info-icon-color;
    }

    .cmp-icon {
      color: $info-icon-color;
      display: inline-block;
    }
  }

  &.error {
    background-color: $error-color;
    border-color: $error-middle-color;

    .icon {
      color: $error-icon-color;
    }

    .cmp-alert {
      color: $error-text-color;
    }

    .cmp-close {
      background-color: $error-middle-color;
      border-color: $error-dark-color;
      box-shadow: 0 0 0 $error-dark-color;

      &:hover {
        border-color: $error-icon-color;
        box-shadow: 0 0 $base-dimension * 0.25 $error-icon-color;
      }

      .cmp-icon {
        color: $error-icon-color;
      }
    }
  }

  &.success {
    background-color: $success-color;
    border-color: $success-middle-color;

    .icon {
      color: $success-icon-color;
    }

    .cmp-alert {
      color: $success-text-color;
    }

    .cmp-close {
      background-color: $success-middle-color;
      border-color: $success-dark-color;
      box-shadow: 0 0 0 $success-dark-color;

      &:hover {
        border-color: $success-icon-color;
        box-shadow: 0 0 $base-dimension * 0.25 $success-icon-color;
      }

      .cmp-icon {
        color: $success-icon-color;
      }
    }
  }

  &.warning {
    background-color: $warning-color;
    border-color: $warning-middle-color;

    .icon {
      color: $warning-icon-color;
    }

    .cmp-alert {
      color: $warning-text-color;
    }

    .cmp-close {
      background-color: $warning-middle-color;
      border-color: $warning-dark-color;
      box-shadow: 0 0 0 $warning-dark-color;

      &:hover {
        border-color: $warning-icon-color;
        box-shadow: 0 0 $base-dimension * 0.25 $warning-icon-color;
      }

      .cmp-icon {
        color: $warning-icon-color;
      }
    }
  }
}
