@import '@constants/styles/theme.module';

.cmp-checkbox-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: $base-dimension * 1.5;
  justify-content: center;

  &.disabled {
    .checkbox {
      border-color: $secondary-light-text-color !important;
      box-shadow: none !important;
      cursor: default !important;

      &:hover {
        border-color: $secondary-light-text-color !important;
        box-shadow: none !important;
      }

      &.checked {
        background-color: $secondary-light-text-color !important;

        &:hover {
          background-color: $secondary-light-text-color !important;
        }
      }
    }

    .label {
      color: $secondary-light-text-color !important;
      cursor: default !important;
    }
  }

  .checkbox {
    align-items: center;
    background-color: transparent;
    border: $base-dimension * 0.25 solid $primary-color;
    border-radius: $base-dimension * 0.375;
    box-shadow: 0 0 $base-dimension * 0.125 $primary-color;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: $base-dimension * 2.25;
    justify-content: center;
    transition: box-shadow 0.375s ease-in-out, background-color 0.375s ease-in-out, border-color 0.375s ease-in-out;
    width: $base-dimension * 2.25;

    .icon {
      color: $white-color;
      display: inline-block;
      height: auto;
      max-width: 100%;
      width: 100%;
    }

    &:hover {
      border-color: $primary-dark-color;
      box-shadow: 0 0 $base-dimension * 0.375 $primary-dark-color;
    }

    &.checked {
      background-color: $primary-color;
      border-width: 0;

      &:hover {
        background-color: $primary-dark-color;
      }
    }
  }

  .label {
    color: $secondary-dark-text-color;
    cursor: pointer;
    display: flex;
    font-size: $base-dimension * 1.625;
    font-weight: 400;
    line-height: 1.5;
    user-select: none;
  }
}
