*,
*::before,
*::after {
  box-sizing: border-box;
  max-height: 1000000px;
}

body {
  line-height: 1;
  margin: 0;
}

a,
h1,
h2,
span,
img,
table,
tbody,
tfoot,
thead,
input,
button {
  border: 0 none transparent;
  font: inherit;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: top;
}

svg {
  overflow: initial;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody,
tfoot,
thead {
  vertical-align: middle;
}
