/* stylelint-disable property-no-unknown */

$base-dimension: 8px;

@function mix-box-shadow($shadow: null) {
  $result: 0 $base-dimension * 0.375 $base-dimension * 0.125 (-$base-dimension) * 0.25 rgb(0 0 0 / 20%),
    0 $base-dimension * 0.25 $base-dimension * 0.25 0 rgb(0 0 0 / 14%),
    0 $base-dimension * 0.125 $base-dimension * 0.625 0 rgb(0 0 0 / 12%);

  @return if($shadow, #{$shadow, $result}, $result);
}

@function mix-box-shadow-hover($shadow: null) {
  $result: 0 $base-dimension * 0.25 $base-dimension * 0.5 (-$base-dimension) * 0.125 rgb(0 0 0 / 20%),
    0 $base-dimension * 0.625 $base-dimension * 0.75 0 rgb(0 0 0 / 14%),
    0 $base-dimension * 0.125 $base-dimension * 1.25 0 rgb(0 0 0 / 12%);

  @return if($shadow, #{$shadow, $result}, $result);
}

$accent-dark-color: #d32f2f;
$accent-light-color: #ffcdd2;
$accent-color: #ff5252;
$accent-hover-color: #f44336;
$primary-darker-color: #26327f;
$primary-dark-color: #303f9f;
$primary-light-color: #c5cae9;
$primary-color: #3f51b5;
$primary-middle-color: #536dfe;
$text-color: #fff;
$primary-text-color: #212121;
$secondary-dark-text-color: #616161;
$secondary-text-color: #757575;
$secondary-light-text-color: #9e9e9e;
$divider-color: #bdbdbd;
$divider-light-color: #e6e6e6;
$divider-lighter-color: #f5f5f5;
$white-color: #fff;
$black-color: #000;
$title-font: 'Poppins', sans-serif;
$text-font: 'Open Sans', sans-serif;

// gutter or gap fro padding and margin

:export {
  accentColor: $accent-color;
  accentDarkColor: $accent-dark-color;
  accentHoverColor: $accent-hover-color;
  accentLightColor: $accent-light-color;
  baseDimension: $base-dimension;
  blackColor: $black-color;
  dividerColor: $divider-color;
  primaryColor: $primary-color;
  primaryDarkColor: $primary-dark-color;
  primaryLightColor: $primary-light-color;
  primaryMiddleColor: $primary-middle-color;
  primaryTextColor: $primary-text-color;
  secondaryDarkTextColor: $secondary-dark-text-color;
  secondaryLightTextColor: $secondary-light-text-color;
  secondaryTextColor: $secondary-text-color;
  textColor: $text-color;
  whiteColor: $white-color;
}
