@charset "UTF-8";
@import '@constants/styles/reset';
@import '@constants/styles/theme.module';

html {
  font-size: $base-dimension * 2;
  height: 100%;
  min-height: 100%;
  position: relative;
}

body {
  background-color: $white-color;
  font-family: $text-font;
  font-size: 62.5%;
  font-weight: normal;
  height: 100%;
  letter-spacing: normal;

  // min-height: 480px;
  min-height: 100%;
  min-width: $base-dimension * 37.5;
  overflow: hidden;
  overflow-x: auto;
  position: relative;
  text-rendering: auto;
  width: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
  position: relative;
  width: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes loader-rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
